body {
    background: #eceff1;
}

main.container {
    padding-left: 5em;
    padding-right: 5em;
    width: auto;
}

nav.navbar {
    background: #212121;
}

.navbar-right {
	margin-right: 10em;
}

.page-footer {
	color: #fff;
    background: #212121;
    padding: 25px 0px 25px 0px;
}

.panel-heading {
    background: #fff;
    border-bottom: 10px;
}

.panel-body {
	padding: 0px 0px 0px 0px;
}

.mini-box {
	padding: 0px 0px 25px 0px;
	margin-right: -10px;
}

a.navitem {
	color: #fff !important;
}

a.navbar-brand {
	color: #fff !important;
}

a.hover {
	color: #fff !important;
}

div.panel-heading {
	background-color: #fff !important;
}

img.wrap {
	float: left;
	margin: 10px;
}

img {
	max-width: 95%;
	height: auto;
}

.img-responsive {
	display: block;
	max-width: 90%;
  	height: auto;
}

h1 {
	font-size: 2em !important;
	margin-bottom: 40px !important;
	border-bottom: 5px !important;
}

h3 {
	text-align: center !important;
	margin-bottom: 10px !important;
}

/* Here we define some styles that will ONLY be applied at screen sizes below 480 pixels */
@media (min-width: 1060px) {
   img {
	display: block;
	max-width: 100%;
	height: auto;
}
	.vis {
	padding: 0px 0px 0px 0px;
	margin-right: 0px;
	margin-left: 0px;
	}
}

@media (min-width: 765px) {
   img {
	display: block;
	max-width: 85%;
	height: auto;
}
}

@media (min-width: 1000px) {
   img {
	display: block;
	max-width: 70%;
	height: auto;
}
}

@media (min-width: 1230px) {
   img {
	display: block;
	max-width: 80%;
	height: auto;
}
}

img.thumb {
   border: 1px solid #ddd;
   border-radius: 4px;
   padding: 5px;
   width: 50%;
}


img:hover {
   box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}